@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Indie+Flower&display=swap");
/* *,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  cursor: none;
}

body {
  color: #353531;
  font-family: "Indie Flower", sans-serif;
}

.cursor {
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-color: #fcf6b1;
  opacity: 30%;
  position: absolute;
  border-radius: 15px;
  z-index: 9999;
}

.cursor__follower {
  transition: transform 0.4s;
  width: 12.5px;
  height: 12.5px;
  background-color: #fcf6b1;
  z-index: 9999;
  opacity: 100%;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.one {
  background-color: #ec4e20;
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 100vw;
  position: relative;
}

.two {
  background-color: green;
  background-size: auto 100%;
  background-repeat: repeat-x;
  width: 100vw;
}

.outerWrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.blackDiv {
  position: absolute;
  height: 40vh;
  width: 400vw;
  background-color: #353531;
  bottom: 0;
}

.orangeDiv {
  position: relative;
  width: 400vw;
  height: 60vh;
  display: flex;
  align-items: flex-end;
}

/* .blueDiv {
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 400vw;
  background-color: blue;
} */

.cssanimation {
  animation-duration: 1s;
}

.fadeInBottom {
  animation-name: fadeInBottom;
}

@keyframes fadeInBottom {
  from {
    transform: translateY(100%);
  }
}

.name {
  font-weight: 700;
  font-size: 12.5rem;
}

.whiteName {
  font-weight: 700;
  font-size: 200px;
  color: #ec4e20;
}

.nameSection {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
}

.cloudOne {
  top: 10%;
  animation: cloudOneHorizontal 18s linear infinite;
  z-index: 100;
  width: 100%;
  max-width: 200px;
  height: auto;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
}

.cloudTwo {
  /* top: 10%; */
  animation: cloudOneHorizontal 18s linear infinite;
  z-index: 100;
  width: 100%;
  max-width: 200px;
  height: auto;
  align-self: flex-end;
}

@keyframes cloudOneHorizontal {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}

/* @keyframes cloudOneHorizontal {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
} */

* {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
}

article {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

section {
  width: 400vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.topSection {
  background-color: #ec4e20;
  height: 60%;
  display: flex;
}

.bottomSection {
  background-color: #353531;
  height: 40%;
}

.firstName {
  font-weight: 700;
  font-size: 12.5rem;
  align-self: flex-end;
  align-items: end;
  margin-bottom: -1rem;
}

.lastName {
  font-weight: 700;
  font-size: 12.5rem;
  align-self: flex-end;
  align-items: end;
  color: #ec4e20;
}

.bounce {
  animation: bounce 5s ease;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.books {
  align-self: flex-end;
  margin-left: 2rem;
  margin-bottom: -1rem;
}

.woman {
  background-position: center;
  background-size: cover;
  animation: womanEyes 2s infinite alternate;
  height: 426px;
  width: 474px;
  align-self: flex-end;
  margin-bottom: -3rem;
  z-index: 2;
}

.woman2 {
  background-position: center;
  background-size: cover;
  animation: womanEyes 2s infinite alternate;
  height: 306px;
  width: 204px;
  align-self: flex-end;
  margin-bottom: -3rem;
  z-index: 2;
  margin-left: 500px;
}

@keyframes womanEyes {
  0% {
    background-image: url("./woman-eyes-closed.svg");
  }
  50% {
    background-image: url("./woman-eyes-opened.svg");
  }
  75% {
    background-image: url("./woman-eyes-closed.svg");
  }
  100% {
    background-image: url("./woman-eyes-opened.svg");
  }
}

.lamp {
  content: "";
  display: block;
  position: relative;
  width: 100px;
  height: 50px;
  top: 90px;
  left: 110px;
  border-top: 50px solid #353531;
  border-radius: 50px 50px;
  border-color: #353531;
  z-index: 2;
}

.lamp:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 120px;
  background: #353531;
  top: -135px;
  left: 46px;
}

.lamp:after {
  content: "";
  display: block;
  position: absolute;
  width: 75px;
  height: 20px;
  top: -270px;
  left: -150px;
  border-top: 250px solid transparent;
  border-bottom: 500px solid rgba(255, 255, 255, 0.4);
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  z-index: 1;
  /* animation: flickerAnimation 0.75s infinite alternate; */
}

@keyframes swing {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.swing {
  animation: swing 1.5s infinite alternate ease-in-out;
  transform-origin: 30px -20px;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.19;
  }
  /* 5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.25;
  } */
  15% {
    opacity: 0.35;
  }
  /* 25% {
    opacity: 0.2;
  } */
  30% {
    opacity: 1;
  }
  /* 35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  } */
  45% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  /* 70% {
    opacity: 0.35;
  } */
  80% {
    opacity: 0.4;
  }
  /* 90% {
    opacity: 0.2;
  } */
  100% {
    opacity: 1;
  }
}

.float {
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 2s ease-in-out alternate infinite;
  animation: float 2s ease-in-out alternate;
}

.frida {
  align-self: flex-end;
  background-size: cover;
  height: 333px;
  width: 391px;
  z-index: 2;
  margin-left: 500px;
  background-image: url("./Frida_Khalo_orange\ flowers_HUG.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: -0.25rem;
}

.circleOne {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  top: 55%;
  left: 90%;
  animation: one 3s infinite alternate;
}

.circleTwo {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  top: 12%;
  left: -125%;
  animation: two 3s infinite alternate;
}

.circleThree {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  top: 20%;
  left: 45%;
  animation: three 3s infinite alternate;
}

.circleFour {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  top: -37%;
  left: 32%;
  animation: four 3s infinite alternate;
}

.circleFive {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  top: -75%;
  left: 37%;
  animation: five 3s infinite alternate;
}

.circleSix {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  top: -75%;
  left: 37%;
  animation: six 3s infinite alternate;
}

@keyframes one {
  0% {
    transform: rotate(180deg) translate(0, 0) translate(400px);
  }
  50% {
    transform: rotate(180deg) translate(20px, -20px) translate(400px);
  }
  100% {
    transform: rotate(180deg) translate(0, 0) translate(400px);
  }
}

@keyframes two {
  0% {
    transform: rotate(360deg) translate(0, 0) translate(400px);
  }
  50% {
    transform: rotate(360deg) translate(-20px, 10px) translate(400px);
  }
  100% {
    transform: rotate(360deg) translate(0, 0) translate(400px);
  }
}

@keyframes three {
  0% {
    transform: rotate(360deg) translate(0, 0) translate(200px);
  }
  50% {
    transform: rotate(360deg) translate(-20px, 10px) translate(200px);
  }
  100% {
    transform: rotate(360deg) translate(0, 0) translate(200px);
  }
}

@keyframes four {
  0% {
    transform: rotate(360deg) translate(45px, 45px) translate(250px);
  }
  50% {
    transform: rotate(360deg) translate(55px, 55px) translate(250px);
  }
  100% {
    transform: rotate(360deg) translate(45px, 45px) translate(250px);
  }
}

@keyframes five {
  0% {
    transform: rotate(360deg) translate(45px, 45px) translate(250px);
  }
  50% {
    transform: rotate(360deg) translate(30px, 30px) translate(250px);
  }
  100% {
    transform: rotate(360deg) translate(45px, 45px) translate(250px);
  }
}

@keyframes six {
  0% {
    transform: rotate(360deg) translate(45px, 45px) translate(250px);
  }
  50% {
    transform: rotate(360deg) translate(30px, 30px) translate(250px);
  }
  100% {
    transform: rotate(360deg) translate(45px, 45px) translate(250px);
  }
}

.six {
  transform: rotate(-130deg) translate(130px);
}
.seven {
  transform: rotate(-150deg) translate(130px);
}
