.section {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.imageContainer {
  position: absolute;
  bottom: 39%;
  left: 10%;
  width: 50%;
  max-width: 600px;
  z-index: 20;
  display: flex;
  align-items: flex-end;
}

.bookImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-bottom: -5px;
}

.vaseImageContainer {
  position: absolute;
  bottom: 40%;
  left: calc(10% + 50% + 8%);
  transform: translateX(-50%);
  width: 20%;
  max-width: 500px;
  min-width: 150px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: -20px;
}

.frameImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
