.section {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.meditatingContainer {
  position: absolute;
  bottom: 39%;
  left: 60%;
  width: 40%;
  z-index: 25;
}

.imageContainer {
  position: absolute;
  bottom: 39%;
  left: 10%;
  width: 50%;
  max-width: 600px;
  z-index: 20;
  display: flex;
  align-items: flex-end;
}

.bookImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-bottom: -5px;
}

@media (max-width: 767px) {
  .section {
    width: 150vw;
  }

  .meditatingContainer {
    bottom: 40%;
    left: auto;
    right: 15vw;
    width: 60vw; /* 40% of 150vw */
    max-width: 300px;
  }

  .imageContainer {
    bottom: 40%;
    left: 10vw;
    width: 75vw; /* 50% of 150vw */
    max-width: 350px;
  }
}

@media (max-width: 425px) {
  /* Create space between elements */
  .meditatingContainer {
    width: 45vw; /* Scale down further to prevent overlap */
    bottom: 39%;
  }

  .imageContainer {
    width: 55vw; /* Scale down further to prevent overlap */
  }
}
