.section {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.meditatingContainer {
  position: absolute;
  bottom: 39%;
  left: 60%;
  width: 40%;
  z-index: 25;
}

.imageContainer {
  position: absolute;
  bottom: 39%;
  left: 10%;
  width: 50%;
  max-width: 600px;
  z-index: 20;
  display: flex;
  align-items: flex-end;
}

.bookImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-bottom: -5px;
}
