.section {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  margin-right: -1px;
}

.meditatingContainer {
  position: absolute;
  bottom: 35%;
  left: 60%;
  width: 40%;
  z-index: 25;
}

.imageContainer {
  position: absolute;
  bottom: 39%;
  left: 2%;
  width: 50%;
  /* max-width: 600px; */
  z-index: 20;
  display: flex;
  align-items: flex-end;
}

.bookImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-bottom: -5px;
}

@media (max-width: 1440px) {
  .meditatingContainer {
    width: 35%;
    left: 55%;
  }

  .imageContainer {
    width: 45%;
    left: 5%;
  }
}

@media (max-width: 767px) {
  .section {
    width: 150vw;
  }

  .meditatingContainer {
    bottom: 40%;
    left: auto;
    right: 15vw;
    width: 70vw; /* Increased from 60vw since orbit is smaller */
    max-width: 350px;
  }

  .imageContainer {
    bottom: 40%;
    left: 10vw;
    width: 75vw; /* 50% of 150vw */
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  .meditatingContainer {
    width: 58vw;
    bottom: 40%;
  }

  .imageContainer {
    width: 55vw;
  }
}

@media (max-width: 425px) {
  /* Create space between elements */
  .meditatingContainer {
    width: 65vw; /* Increased from 45vw since orbit is smaller */
    bottom: 39%;
  }

  .imageContainer {
    width: 55vw; /* Scale down further to prevent overlap */
  }
}
