:root {
  --font-primary: "Mochiy Pop P One", sans-serif;
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;
  background-color: #2d2d2d;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent native horizontal scroll */
  font-family: var(--font-primary);
}

* {
  box-sizing: border-box;
  font-family: inherit;
}
