.section {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.vaseImageContainer {
  position: absolute;
  bottom: 40%;
  left: 80%;
  transform: translateX(-50%);
  width: 20%;
  max-width: 500px;
  min-width: 150px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: -20px;
}

.frameImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}
